.wpt-bookmark {
  background-color: #b95050;
  color: #fff;
  font-size: 0.85em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: absolute;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
  font-family: Arial, Sans-serif;
  height: 4px;
  left: 0;
  right: 0;
  border-left: none;
  border-right: none;
  transition: top 0.2s;
}

.wpt-paragraph-highlight {
  top: 0px;
  transition: top 0.2s, height 0.2s, transform 0.2s;
  display: none;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  left: 0;
  right: 0;
  border-left: none;
  border-right: none;
  &.visible {
    display: block;
  }
  .wpt-toolbar {
    display: inline-block;
    position: absolute;
    top: -46px;
    right: 2rem;
    pointer-events: all;
    :is(button) {
      background-color: #333;
      color: #dadada;
      font-family: OpenSans, sans-serif;
      font-size: 0.875rem;
      padding: 0.5rem;
      border: 1px solid #141414;
      border-radius: 5px;
      margin: 1px;
      outline: none;
      cursor: pointer;
      &:active {
        background-color: #333;
        border-color: #141414;
        outline: none;
      }
      &:hover {
        background-color: #383838;
        border-color: #161616;
      }
      &:active:hover {
        background-color: #333;
        border-color: #141414;
      }
    }
  }
}

.wpt-scrubber {
  height: 4px;
  position: sticky;
  top: 0;
  /* margin-left set in code to overcome article padding */
  /* margin-right set in code to overcome article padding */
  background-color: var(--reader-body-background);
  .wpt-scrubber-bar {
    background-color: var(--accent-primary);
    position: absolute;
    top: 0px;
    bottom: 0px;
  }
  .wpt-scrubber-circle-container {
    width: 0;
    height: 0;
    position: absolute;
    left: 0%;
  }
  .wpt-scrubber-circle {
    background-color: var(--accent-primary);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -5px;
  }
}
